@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<SchoolManagmentSystemRemake.Models.Student>


<div>
	<div>
		<a class="btn btn-primary" asp-action="Create">Add a Record</a>
	</div>
	<div>
		<h2>Students List</h2>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Date of Birth</th>
					<th scope="col">Educational Level</th>
					<th scope="col">City</th>
					<th scope="col">Courses</th>
					<th scope="col">Edit</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var student in Model)
				{
					<tr>
						<th scope="row">1</th>
						<td>@student.StudentName</td>
						<td>@student.DOB</td>
						<td>@student.EducationalLevel</td>
						<td>@student.City</td>
						<td>@student.Course</td>
						<td>
							<a asp-action="Edit" asp-route-id="@student.Id" class="btn btn-info">Edit</a>
						</td>
						<td>
							<a asp-action="Delete" asp-route-id="@student.Id" class="btn btn-danger">Delete</a>

						</td>
					</tr>
				}return confirm
			</tbody>
		</table>
	</div>
</div>