@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<SchoolManagmentSystemRemake.Models.Course>


<div>
	<div>
		<a asp-action="Create" class="btn btn-primary">Add a Course</a>
	</div>
	<div>
		<h2>Courses List</h2>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Course Name</th>
					<th scope="col">Start Date</th>
					<th scope="col">End Date</th>
					<th scope="col">Category</th>
					<th scope="col">Price</th>
					<th scope="col">Edit</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var course in Model)
				{
					<tr>
						<th scope="row">1</th>
						<td>@course.CourseName</td>
						<td>@course.StartDate</td>
						<td>@course.EndDate</td>
						<td>@course.Category</td>
						<td>@course.Price</td>
						<td>
							<a asp-route-id="@course.Id" asp-action="Edit" class="btn btn-info">Edit</a>
						</td>
						<td>
							<a asp-action="Delete" asp-route-id="@course.Id" class="btn btn-danger">Delete</a>

						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>