@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SchoolManagmentSystemRemake.ViewModels.vmTeacher

<div class="row justify-content-center">
	<div class="col-md-6">
		<div>
			<h2>@ViewBag.Action a Teacher</h2>
			<form method="post" asp-action="@ViewBag.Action">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" asp-for="TeacherName" placeholder="Enter name">

					<label for="Major">Major</label>
					<select class="form-control" asp-for="MajorId" asp-items="@(new SelectList(ViewBag.Majors,"Id","MajorName"))">
						<option>
							---select---
						</option>
					</select>
					<label for="PricePerHour">Price Per Hour</label>
					<input type="text" class="form-control" id="PricePerHour" asp-for="PricePerHour" placeholder="Enter Price Per Hour">

					<label for="Courses">Courses</label>
					<div>
						@foreach (var course in ViewBag.Courses)
						{
							<div class="form-check">
								<input type="checkbox" class="form-check-input" name="SelectedCourseIds" value="@course.Id"
								@(Model.SelectedCourseIds.Contains(course.Id) ? "checked" : "") />
								<label class="form-check-label" for="@course.Id">@course.CourseName</label>
							</div>
						}
					</div>


				</div>
				<br />
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>